/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'aventuraregular';
    src: url('../fonts/aventura/aventura-webfont.eot');
    src: url('../fonts/aventura/aventura-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aventura/aventura-webfont.woff') format('woff'),
         url('../fonts/aventura/aventura-webfont.ttf') format('truetype'),
         url('../fonts/aventura/aventura-webfont.svg#aventuraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'kelson_sanslight';
    src: url('../fonts/kelson/kelson_sans_light-webfont.eot');
    src: url('../fonts/kelson/kelson_sans_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson/kelson_sans_light-webfont.woff') format('woff'),
         url('../fonts/kelson/kelson_sans_light-webfont.ttf') format('truetype'),
         url('../fonts/kelson/kelson_sans_light-webfont.svg#kelson_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
	padding:0;
	margin:0;
	list-style:none;
    font-family: 'aventuraregular';
    letter-spacing: 0.5px;
}
h1,h2,h3,h4,h5{
	font-weight:lighter;
}
a:visited,
a:focus,
a:hover{
	text-decoration:none !important;
	outline:none;
}
html{
    background: url('../images/pattern_site.png') repeat;
    height: 100%;
}
body{
	overflow-x:hidden;
    height: 100%;
    background: transparent;
}
.rotate{
    transform: rotate(350deg);
}
.yellow{
    color: #fbe664;
}
.cream{
    color: #f5f3ba;
}
.white{
    color: #fff;
}
.f-12{
    font-size: 12px;
}
.f-14{
    font-size: 14px;
}
.f-16{
    font-size: 16px;
}
.f-20{
    font-size: 20px;
}
.f-26{
    font-size: 26px;
}
.f-28{
    font-size: 28px;
}
.f-34{
    font-size: 34px;
}
.f-40{
    font-size: 40px;
}
.f-48{
    font-size: 48px;
}
.f-60{
    font-size: 60px;
}
.w-100{
    width: 100%;
}
.txt-center{
    text-align: center;
}
.shadow{
    text-shadow:0 4px 2px #454442;
}
.radius{
    border-radius: 10px;
}
.button-green, .button-green:visited{
    color: rgba(20, 76, 16, 0.8);
    text-shadow: 1px 0 2px #51C742, 0 0 0 #000000, 1px 0 2px #51C742;
    padding:12px 34px;
    box-shadow: 0 5px 0 #11440e;
    background: #80e269; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwZTI2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEyJSIgc3RvcC1jb2xvcj0iIzQxYmMzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzM3OWUyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDc3MTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #80e269 0%, #41bc36 12%, #379e2d 90%, #1d7718 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80e269), color-stop(12%,#41bc36), color-stop(90%,#379e2d), color-stop(100%,#1d7718)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #80e269 0%,#41bc36 12%,#379e2d 90%,#1d7718 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #80e269 0%,#41bc36 12%,#379e2d 90%,#1d7718 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #80e269 0%,#41bc36 12%,#379e2d 90%,#1d7718 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #80e269 0%,#41bc36 12%,#379e2d 90%,#1d7718 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80e269', endColorstr='#1d7718',GradientType=0 ); /* IE6-8 */

}
.button-green:hover{
    color: rgba(20, 76, 16, 0.8);
    text-shadow: 1px 0 2px #51C742, 0 0 0 #000000, 1px 0 2px #51C742;
    background: #80e269; /* Old browsers */
    background: #80e269; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwZTI2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEzJSIgc3RvcC1jb2xvcj0iIzUxZTA0MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzM5OWIyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDc3MTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #80e269 0%, #51e041 13%, #399b2d 90%, #1d7718 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80e269), color-stop(13%,#51e041), color-stop(90%,#399b2d), color-stop(100%,#1d7718)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #80e269 0%,#51e041 13%,#399b2d 90%,#1d7718 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #80e269 0%,#51e041 13%,#399b2d 90%,#1d7718 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #80e269 0%,#51e041 13%,#399b2d 90%,#1d7718 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #80e269 0%,#51e041 13%,#399b2d 90%,#1d7718 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80e269', endColorstr='#1d7718',GradientType=0 ); /* IE6-8 */
}
.button-yellow, .button-yellow:visited{
    color: rgba(87, 86, 66, 0.8);
    text-shadow: 1px 0 2px #f2e899, 0 0 0 #000000, 1px 0 2px #f2e899;
    padding:8px 24px;
    box-shadow: 0 5px 0 #72682e;
    background: rgb(248,240,177); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjBiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2VkZDk1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZWI4MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(248,240,177,1) 0%, rgba(237,217,94,1) 53%, rgba(222,184,39,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,240,177,1)), color-stop(53%,rgba(237,217,94,1)), color-stop(100%,rgba(222,184,39,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(248,240,177,1) 0%,rgba(237,217,94,1) 53%,rgba(222,184,39,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(248,240,177,1) 0%,rgba(237,217,94,1) 53%,rgba(222,184,39,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(248,240,177,1) 0%,rgba(237,217,94,1) 53%,rgba(222,184,39,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(248,240,177,1) 0%,rgba(237,217,94,1) 53%,rgba(222,184,39,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f0b1', endColorstr='#deb827',GradientType=0 ); /* IE6-8 */
}
.button-yellow:hover{
    color: rgba(87, 86, 66, 0.8);
    text-shadow: 1px 0 2px #f2e899, 0 0 0 #000000, 1px 0 2px #f2e899;
    padding:8px 24px;
    box-shadow: 0 5px 0 #72682e;
    background: rgb(244,233,149); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZTk5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2U4Y2UzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGIzMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(244,233,149,1) 0%, rgba(232,206,60,1) 49%, rgba(221,179,26,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,233,149,1)), color-stop(49%,rgba(232,206,60,1)), color-stop(100%,rgba(221,179,26,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(244,233,149,1) 0%,rgba(232,206,60,1) 49%,rgba(221,179,26,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(244,233,149,1) 0%,rgba(232,206,60,1) 49%,rgba(221,179,26,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(244,233,149,1) 0%,rgba(232,206,60,1) 49%,rgba(221,179,26,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(244,233,149,1) 0%,rgba(232,206,60,1) 49%,rgba(221,179,26,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e995', endColorstr='#ddb31a',GradientType=0 ); /* IE6-8 */

}
.button-green:focus,
.button-yellow:focus{
    margin-top: 2px;
    box-shadow: 0 2px 0 #11440e;
    margin-bottom: 18px;
}
.container{
    position: relative;
	max-width:970px;
}

/*---- intro-site ----*/
.intro-site{
    background: url('../images/bg_intro.jpg') no-repeat center top #000;
    min-height: 759px;
}
.chamada-away,
.img-away{
    float: left;
}
.info-away{
    float: left;
    margin-left: -1px;
    margin-top: 32px;
}
.info-away .second-line{
    line-height: 0;
    margin-left: 6px;
}
.info-away .last-line{
    text-transform: uppercase;
    line-height: 34px;
    margin-left: 12px;
}
.menu-topo{
    float: right;
    margin-top: 50px;
}
.bt-menu-extended{
    background: none;
    border: none;
}
.bar-menu-icon{
    background: #f5f3ba;
    border-radius: 3px;
    display: block;
    height: 5px;
    margin-bottom: 4px;
    width: 32px;
}
.bt-menu-extended:hover .bar-menu-icon{
    background: #fbe664;
}
.center-logo{
    margin-top: -75px;
}
.info-data,
.info-local-valor{
    text-align: right;
    margin-top: 30px;
    position: relative;
    left: 30px;
    padding-right: 5px;
}
.info-data .data,
.info-local-valor .local{
    line-height: 0;
}
.info-data .mes{
    margin-right: 7px;
    margin-top: 5px;
}
.center-logo .logo{
    display: table;
    margin: 0 auto;
}
.info-local-valor{
    text-align: left;
    padding-left: 5px;
    left: -30px;
}
.info-local-valor .cidade{
    margin-left: 7px;
    margin-top: 5px;
}
.chamada-intro .txt-chamada{
    text-align: center;
    margin: 60px 0 80px;
}
.button-inscreva-topo,
.info-promo-topo{
    display: table;
    margin: 0 auto 20px;
}

/*---- atracoes ----*/
.intro-section{
   width: 100%;
   min-height: 423px;
   position: relative;
}
.intro-atracoes{
    background: url('../images/faixa_intro_atracoes.png') no-repeat center top;
    margin-top: -60px;
}
.img-intro-atacoes{
    float: left;
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 25px;
    visibility: hidden;
}
.info-intro-atracoes{
    margin-top: 85px;
}
.lista-atracoes{
    min-height: 700px;
    margin-top: -110px;
    padding: 130px 0;
}
.splash-apresentador{
    background: url('../images/splash_apresentador.png') no-repeat center 35px;
    float: right;
    margin-top: -195px;
    min-height: 268px;
    padding: 0 120px;
}
.row-palestrantes{
    position: relative;
    top: -50px;
}
.trabalho-palestrante{
    margin-top: -10px;
}
.item-palestrante{
    background: url('../images/avatares/bg_fire.png') no-repeat center top;
    padding-top: 75px;
}
.avatar-palestrante {
    position: relative;
}
.avatar-palestrante img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    z-index: 2;
}
.info-palestrante{
    margin-top: -10px;
}
.bt-ver-mais{
    background:#f5f3ba;
    border-radius: 70px;
    display: table;
    margin: 0 auto 30px;
    padding: 3px 10px 0;
    text-align: center;
}
.apresentador,
.item-lightning{
    background: url('../images/avatares/bg_fire_lightning.png') no-repeat 0 top;
    padding: 50px 10px 0;
    float: left;
}
.item-lightning{
    background-position: 22px top;
}
.title-apresentador{
    float: left;
    margin-top: 94px;
}
.title-apresentador .second-line{
    margin-left: 30px;
}
.talks-guitar{
     background: url('../images/faixa_lightning_talks.png') no-repeat center top;
     width: 100%;
     min-height: 494px;
     margin-top: -150px;
}
.intro-talks{
    float: left;
    margin-top: 40px;
}
.guitar-parallax{
    position: relative;
}
.guitar{
    background: url('../images/guitarra.png') no-repeat 0 top;
    height: 616px;
    width: 667px;
    position: absolute;
    top: -27px;
    left: 128px;
    z-index: 3;
}
.html5{
    background: url('../images/html5.png') no-repeat 0 top;
    height: 372px;
    left: 58px;
    position: absolute;
    top: -64px;
    width: 322px;
    z-index: 1;
}
.css3{
  background: url('../images/css3.png') no-repeat 0 top;
  height: 325px;
  left: -25px;
  position: absolute;
  top: 112px;
  width: 317px;
  z-index: 2;;
}
.javascript{
    background: url('../images/js.png') no-repeat 0 top;
    width: 271px;
    position: absolute;
    right: -45px;
    top: 235px;
    height: 271px;
    z-index: 4;
}
.fia{
    background: url('../images/fia_blur.png') no-repeat 0 top;
    width: 106px;
    height: 149px;
    position: absolute;
    top: 160px;
    right: -70px;
    z-index: 4;
}
.lista-patrocinadores{
    clear: both;
    margin-top: 20px;
}
.logo-patrocinio,
.img-slider-local{
    display: block;
    margin: 0 auto;
}
.platina{
    color: #b0af97;
}
/*---- local-evento ----*/
.intro-local{
    background: url('../images/faixa_intro_local.png') no-repeat center top;
    margin-top: 60px;
}
.img-intro-local{
    float: left;
    margin-left: 91px;
    margin-right: 30px;
    margin-top: 75px;
}
.info-intro-local{
    margin-top: 115px;
}
.slider-local{
    margin-top: 20px;
}
.img-slider-local{
    border: solid 10px #fff;
    transform: rotate(358deg);
    max-width: 100%;
}
.button-slider{
    border-radius: 30px;
    box-shadow: 0 4px 0 #72682E;
    color: #212121;
    display: block;
    height: 51px;
    padding: 1px 15px;
    width: 52px;
    background: #fbe664;
    cursor: pointer;
}
.btn-slider:hover{

}
.arrow-prev{
    left: -10px;
    position: absolute;
    top: 185px;
    z-index: 2;
}
.arrow-next{
    position: absolute;
    right: -10px;
    top: 150px;
    z-index: 2;
    padding: 3px 19px;
}
.info-local{
    position: relative;
    z-index: 2;
}
.title-local{
    background: url('../images/flamula_local.png') no-repeat center top;
    height: 68px;
    margin-top: -40px;
    line-height: 60px;
    margin-bottom: 35px;
    transform: rotate(358deg);
}
.info-local{
    font-family: 'kelson_sanslight';
    margin-bottom: 35px;
}
.buttons-local{
    display: table;
    margin: 0 auto;
}
.button-info{
    margin-right: 8px;
}
.ouro{
    margin: 50px 0;
}
.ouro .title-patrocinadores,
.prata .title-patrocinadores,
.bronze .title-patrocinadores,
.apoiadores .title-patrocinadores{
    text-align: center;
    margin-bottom: 30px;
}
.ouro .lista-patrocinadores,
.prata .lista-patrocinadores,
.bronze .lista-patrocinadores,
.apoiadores .lista-patrocinadores{
    display: table;
    margin: 0 auto;
}
.ouro .patrocinador,
.prata .patrocinador,
.bronze .patrocinador,
.apoiadores .patrocinador{
    display: table;
}

/*---- ingresso ----*/
.intro-ingresso{
    background: url('../images/faixa_intro_ingresso.png') no-repeat center top;
    margin-top: 60px;
}
.img-intro-ingresso{
    float: left;
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 96px;
}
.info-intro-ingresso{
    margin-top: 100px;
}
.img-intro-sobre{
    float: left;
    margin-left: -79px;
    margin-top: 49px;
    width: 500px;
}
.info-intro-sobre{
    margin-top: 135px;
}
.info-ingresso{
    background: url('../images/bg_info_ingresso.png') no-repeat center top;
    width: 100%;
    min-height: 370px;   
    float: left;
    margin-top: -168px;
}
.ingresso-col{
    margin-top: 145px;
}
.desc-info-ingresso{
    float: left;
    margin-left: 50px;
    max-width: 540px;
    transform: rotate(354deg);
}
.info-desconto{
    margin-top: 12px;
    color: #c13030;
}
.email-fia{
    text-decoration: underline;
    color: #600909;
}
.button-info-ingresso{
    float: right;
}
.info-lote-ingresso{
   margin-top: 35px;
}
.prata{
    margin-top: -40px;
    clear: both;
}
.silver{
    color: #c0c0c0;
}

/*---- sobre ----*/
.intro-sobre{
    background: url('../images/faixa_intro_sobre.png') no-repeat center top;
    margin-top: 60px;
}
.info-sobre{
    background: url('../images/bg_info_sobre.png') no-repeat center top;
    min-height: 700px;
    width: 100%;
    margin-top: -50px;
}
.logo-grande{
    float: left;
    margin-left: -80px;
    margin-top: 90px;
}
.desc-sobre{
    float: left;
    max-width: 590px;
    margin-top: 100px;
}
.txt-sobre{
    font-family: 'kelson_sanslight';
    margin-bottom: 15px;
}
.desc-sobre .first-line{
    margin-left: -100px;
}
.desc-sobre .second-line{
    margin-left: 10px;
}
.desc-sobre .third-line{
    margin-left: 35px;
    clear: both;
}
.desc-sobre .last-line{
    margin-left: -40px;
}
.button-fotos-anterior{
    float: left;
    margin-top: 30px;
}

/*---- novidades ----*/
.title-novidades{
    float: right;
}
.title-novidades .second-line{
    margin-left: 135px;
}
.item-novidade{
    margin-top: 18px;
}
.img-novidade{
    float: left;
    margin-right: 15px;
}
.info-novidade{
    margin-top: 80px;
}
.bronze{
    margin: 50px 0;
}
.brown{
    color: #8d633e
}

/*---- o-que-falam  ----*/
.o-que-falam{
    margin-top: 65px;
}
.bg-title-falam{
    background: url('../images/flamula_social.png') no-repeat center top;
    height: 98px;
    line-height: 60px;
}
.title-falam{
    color: rgba(144, 50, 7, 0.8);
    line-height: 86px;
    text-shadow: 1px 0 2px #FFB10D, 0 0 0 #000000, 1px 0 2px #FFB10D;
}
.title-falam,
.desc-falam{
    transform: rotate(357deg);
}
.desc-falam{
    margin-top: -15px;
}
.lista-avatares{
    display: table;
    margin:0 auto;
}
.item-falam{
    float: left;
    margin-right: 30px;
    position: relative;
    width: 282px;
}
.item-falam .avatar{
    background: url('../images/bg_avatar_falam.png') no-repeat center top;
    height: 71px;
    float: left;
}
.info-item-falam{
    position: relative;
    z-index: 2;
}
.avatar .img-avatar{
    border-radius: 50px;
    float: left;
    margin-left: 10px;
    margin-top: 51px;
}
.title-nome-falam{
    float: left;
    margin-left: 12px;
    margin-top: 60px;
}
.usuario-avatar{
    margin-top: -8px;
}
.txt-item-falam{
    background: url('../images/bg_txt_falam.png') no-repeat center top;
    height: 97px;
    left: 55px;
    position: relative;
    top: 60px;
    width: 226px;
    z-index: 1;
    padding: 10px;
    font-family: 'kelson_sanslight';
}
.txt-item-falam .hashtag{
    font-family: 'kelson_sanslight';
    color: #ff8f0a;
}
.txt-item-falam .link{
    font-family: 'kelson_sanslight';
    color: #804805;
    text-decoration: underline;
}
.apoiadores{
    margin: 75px 0;
}

/*---- footer ----*/
footer{
    clear: both;
}
.fire-footer{
    background: url('../images/bg_fire_footer.png') no-repeat center bottom;
    min-height: 231px;
}
.title-footer{
    float: left;
}
.button-equipe{
    float: right;
    margin-top: 22px;
}
.faixa-footer{
    width: 100%;
    height: 50px;
    background: #1c1d1d;
}
.logo-footer{
    float: left;
    margin-right: 12px;
}
.info-footer{
    line-height: 50px;
    max-width: 415px;
}
.alfama{
    float: right;
    line-height: 50px;
}
.avatar-quemfaz{
    display: table;
    margin: 0 auto;
}
.info-italo{
    margin-right: -35px;
    margin-top: 50px;
    text-align: right;
}
.info-julio{
    margin-left: -35px;
    margin-top: 50px;
    text-align: left;
}
.info-italo .icon-rede{
    float: right;
    margin-right: 5px;
}
.info-julio .icon-rede{
    float: left;
    margin-right: 5px;
}
.chamada-intro .first-line,
.chamada-intro .second-line,
.info-intro-atracoes .first-line,
.info-intro-atracoes .second-line,
.info-intro-atracoes .desc-section,
.apresentador,
.item-palestrante,
.info-promo-topo{
    visibility: hidden;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/**
 *   Menu
 */
#overlay{
    width: 100%;
    height: 100%;
    z-index: 9;
    position: fixed;
    background: rgba(160, 139, 27, 0.85);
}
#main-menu{
    top: 20%;
    left: 25%;
    width: 50%;
    z-index: 10;
    position: fixed;
}
    #main-menu li{
        width: 100%;
        padding: 10px;
        background: red;
        margin-bottom: 10px;
    }
.fixed-navbar{
    background: #FFF;
    position: fixed;
    width: 100%;
    padding: 40px;
    z-index: 9;
    box-shadow: 10px 10px 110px -10px #000000
}