/* Large desktop */
@media (max-width: 1200px) {
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 769px) and (max-width: 992px) {
	.item-menu{
		font-size:48px;
	}
	.item-menu-fixed a{
		font-size: 16px;
	}
	.info-data{
		left: 15px;
	}	
	.info-local-valor{
		left: 0;
	}
	.intro-talks{
		width: 100%;
	}
	.item-lightning {
    	background-position: center top;
	}
	.item-lightning img{
		right: 8px;
	}
	.title-patrocinadores{
		text-align: center;
	}
	.patrocinador{
		display: table;
	}
	.lista-patrocinadores{
		display: table;
    	margin: 40px auto 0;
	}
	.arrow-prev{
		top: 125px;
	}
	.arrow-next{
		top: 95px;
	}
	.talks-guitar{
		display: none;
	}
	.info-ingresso{
		margin-top: -155px;
	}
	.desc-info-ingresso{
		margin-top: 122px;
	}
	.desc-info-ingresso{
		float: none;
	}
	.button-info-ingresso{
		display: table;
	    float: none;
	    margin: 55px auto;
	}
	.logo-grande{
		display: table;
    	margin: 0 auto;
    	float: none;
	}
	.txt-sobre{
		margin-left: 0 !important;
		text-align: center;
	}
	.desc-sobre{
		float: left;
    	margin-top: 15px;
    	max-width: none;
    	margin-bottom: 30px;
	}
	.button-fotos-anterior{
		float: none;
		display: table;
		margin: 0 auto;
	}
	.title-novidades{
		display: table;
    	margin: 75px auto 20px;
    	float: none;
	}
	.title-novidades .second-line{
		margin-left: 70px;
	}
	.desc-novidade{
		font-size: 14px;
	}
	.info-novidade{
		margin-top: 55px;
	}
	.info-julio{
		margin-left: 0;
	}
	.info-intro-section{
		text-align: center;
	}
	.ingresso-col {
    	margin-top: 125px;
	}
	.lista-atracoes{
		padding: 130px 0 0;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.item-menu{
		font-size:48px;
	}
	.item-menu-fixed a{
		font-size: 16px;
	}
	.info-data{
		left: 15px;
	}	
	.info-local-valor{
		left: 0;
	}
	.intro-talks{
		width: 100%;
	}
	.item-lightning {
    	background-position: center top;
	}
	.item-lightning img{
		right: 8px;
	}
	.title-patrocinadores{
		text-align: center;
	}
	.patrocinador{
		display: table;
	}
	.lista-patrocinadores{
		display: table;
    	margin: 40px auto 0;
	}
	.slider-local{
		position: relative;
	}
	.arrow-prev{
		top: 125px;
	}
	.arrow-next{
		top: 95px;
		right: -10px;
	}
	.talks-guitar{
		display: none;
	}
	.info-ingresso{
		margin-top: -155px;
	}
	.desc-info-ingresso{
		margin-bottom: 122px;
	}
	.button-info-ingresso{
		display: table;
	    float: none;
	    margin: 55px auto;
	}
	.logo-grande{
		display: table;
    	margin: 0 auto;
    	float: none;
	}
	.txt-sobre{
		margin-left: 0 !important;
		text-align: center;
	}
	.desc-sobre{
		float: left;
    	margin-top: 15px;
    	max-width: none;
    	margin-bottom: 30px;
	}
	.button-fotos-anterior{
		float: none;
		display: table;
		margin: 0 auto;
	}
	.title-novidades{
		display: table;
    	margin: 75px auto 20px;
    	float: none;
	}
	.title-novidades .second-line{
		margin-left: 70px;
	}
	.desc-novidade{
		font-size: 14px;
	}
	.info-novidade{
		margin-top: 55px;
	}
	.info-julio{
		margin-left: 0;
	}
	.info-intro-section{
		text-align: center;
	}
	.ingresso-col {
    	margin-top: 125px;
	}
	.lista-atracoes{
		padding: 130px 0 0;
	}
}
 
/* Landscape phones and down */
@media (max-width: 660px) { 
	html,
	body{
		overflow-x:hidden; 
	}
	.item-menu{
		font-size:28px;
	}
	.item-menu-fixed a{
		font-size: 14px;
	}
	.info-away .first-line,
	.info-away .second-line{
		font-size: 14px;
	}
	.info-away .last-line{
		font-size: 20px;
	}
	.info-data{
		font-size: 36px;
	}
	.info-data, .info-local-valor{
		text-align: center;
		left: 0;
	}
	.info-left{
		margin-bottom: 20px;
		height: 48px;
	}
	.center-logo{
		margin-bottom: 50px;
		margin-top: 0;
	}
	.info-right{
		margin-bottom: 35px;
	}
	.button-inscreva-topo,
	.button-inscreva-ingresso {
		font-size: 32px;
	}
	.button-info-promo{
		margin-bottom: 60px;
	}
	.mes{
		margin: 5px 7px 0;
	}
	.cidade{
		display: block;
		margin: 5px 0 -10px;
	}
	.txt-chamada{
		font-size: 25px;
	}
	.title-section{
		margin-top: 110px;
		text-align: center;
	}
	.title-section .first-line,
	.title-section .second-line{
		font-size: 44px;
	}
	.desc-section{
		font-size: 18px;
		text-align: center;
	}
	.container-apresentador{
		padding: 0;
	}
	.splash-apresentador{
		width: 100%;
		padding: 0;
	}
	.title-apresentador .first-line,
	.title-apresentador .second-line{
		font-size: 22px;
	}
	.centering-apresentador{
		display: table;
		margin: 0 auto;
	}
	.item-lightning {
    	background-position: center top;
	}
	.item-lightning img{
		right: 8px;
	}
	.patrocinador{
		margin-bottom: 30px;
	}
	.title-local {
	    background-size: cover;
	    height: 100%;
	    line-height: 44px;
	    margin-bottom: 18px;
	    margin-top: 12px;
	    width: 100%;
		font-size: 22px;
	}
	.button-info,
	.button-mapa{
		display: block;
		text-align: center;
		margin-bottom: 30px;
	}
	.button-mapa{
		margin-bottom: 0;
	}
	.info-ingresso{
		margin-top: -218px;
		background-position: -231px top;
	}
	.intro-ingresso{
		z-index:2;
	}
	.ingresso-col{
		margin-top:190px;
	}
	.info-intro-section{
		margin-top: 0;
	}
	.info-incluso{
    	margin-bottom: 55px;
	}
	.desc-info-ingresso{
		margin-left: 0;
		text-align: center;
		margin-bottom:0;
	}
	.button-info-ingresso{
		clear: both;
	}
	.info-desconto{
		margin-bottom: 55px;
	}
	.logo-grande .logo-rockandcode{
		max-width: 90%;
	}
	.email-fia{
		color: #fff;
	}
	.img-novidade{
		float: none;
		display: table;
		margin: 0 auto;
	}
	.info-novidade{
		margin-top: 30px;
		text-align: center;
	}
	.title-falam{
		font-size: 20px;
	}
	.title-organizador{
		font-size: 18px;
	}
	.info-italo{
		margin-right: 0;
	}
	.funcao-organizador{
		font-size: 10px;
	}
	.avatar-quemfaz{
		margin-left: -70px;
    	margin-top: 10px;
	}
	.desenvolvimento{
		display: table;
		margin:  0 auto;
	}
	.button-fotos-anterior{
		font-size: 22px;
	}
	.title-novidades .first-line{
		font-size: 48px;
	}
	.lista-atracoes{
		padding: 130px 0 0;
	}
	.platinum{
		margin: -40px 0;
	}
	.ouro{
		margin: 20px 0;
	}
	.bg-title-falam{
		height: 76px;
		background: none;
	}
	.title-falam{
		font-size: 26px;
		line-height: normal;
		text-shadow:none;
	}
	.o-que-falam{
		margin-top: -25px;
	}
	.prata{
		margin-top: 0;
	}
	.intro-ingresso,
	.intro-sobre{
		margin-top: 0;
	}
	.desc-falam{
		margin-top: 0;
	}
	.item-falam{
		float: none;
		margin-right: 0;
	}
	.avatar-quemfaz{
		margin-top: 78px;
		display: block;
		margin-left: -35px;
		margin-right: -35px;
	}
	.avatar-quemfaz img{
		display: block;
	    margin: 0 auto;
	    max-width: 100%;
	}
	.info-italo,
	.info-julio{
		margin-top: 100px;
	}
	.title-footer{
		float: none;
		text-align: center;
		font-size: 30px;
	}
}

/* Small landscape phones and down */
@media (max-width: 480px) { 
	.info-italo,
	.info-julio{
		margin-top: 88px;
	}
	.info-away .first-line,
	.info-away .second-line{
		font-size: 14px;
	}
	.info-away .last-line{
		font-size: 20px;
	}
	.desc-info-ingresso{
		margin-bottom: 0;
	}
	.intro-ingresso{
		z-index: 2;
	}
}

@media (max-width: 340px) { 
	.redes-organizador{
		display: none !important;
	}
	.info-away .first-line,
	.info-away .second-line{
		font-size: 14px;
	}
	.info-away .last-line{
		font-size: 20px;
	}
}